$breakpoint-desktop: 1400px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-tablet-sm: 768px;
$breakpoint-mobile: 576px;

@media screen and (min-width: $breakpoint-mobile) {
  .container {
    max-width: 540px;
  }
}

@media screen and(max-width: $breakpoint-tablet-sm){
    .service-flexBox, .service-flexBox-reverse{
        display: flex;
        flex-direction: column!important;
    }
    .s-photo,.s-info{
        width:100%;
    }

    nav{
        position: relative;
        width: 100%;
        overflow-x: hidden;
        .ham-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            svg{
                width: 40px;
                height: 40px;
                color:#ffab00;
            }
        }
        .navigation{
            display: none;
            // right: -320px;
            // // background-color: aqua;
            // height: 100vh;
            // top: 0;
            // position: absolute;
            // width: 320px;
            // padding: 1.2em;
            // flex-direction: column;
        }
    }
    .service-nav{
        max-width: unset!important;
    }
    // .service-gridBox{
    //     grid-template-columns: 1fr!important;
    // }
    // .service-container{

    //     .g-reverse{
    //         grid-template-columns: 1fr!important;
    //         grid-template-areas:
    //                             "s-photos"
    //                             "s-info"!important;
    //     }
    // }
}
@media screen and (min-width: $breakpoint-tablet-sm) {
    nav{
        .ham-menu{
            display: none;
        }
    }
    .small-Nav{
        display: none;
    }
  .container {
    max-width: 720px;
  }
 
}
@media screen and (min-width: $breakpoint-tablet) {
  .container {
    max-width: 960px;
  }
  .service-flexBox{
    display: flex;
    flex-direction: row!important;
}
.service-flexBox-reverse{
    display: flex;
    flex-direction: row-reverse!important;
    
}
.s-photo,.s-info{
    width:50%;
}

}

@media screen and (min-width: $breakpoint-laptop) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: $breakpoint-desktop) {
  .container {
    max-width: 1300px;
  }
}
