$breakpoint-desktop: 1400px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet: 992px;
$breakpoint-tablet-sm: 768px;
$breakpoint-mobile: 576px;

@media screen and (min-width: $breakpoint-mobile) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: $breakpoint-tablet-sm) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: $breakpoint-laptop) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: $breakpoint-desktop) {
  .container {
    max-width: 1300px;
  }
}
