@use "util";
@use "media";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  /* max-width: 1400px;
    margin: 0 auto; */
  width: 100%;
  height: 100%;
}

.topbar {
  padding: 7px 10px;
  background: #ffdc1c;
  font-size: 0.985rem;
  line-height: 1.5;
  font-weight: 500;
  span {
    transition: all ease-in-out 0.7s;
    cursor: pointer;
    text-decoration: underline;
  }
  span:hover {
    font-size: 1.04rem;
  }
}

.banner {
  width: 100%;
  min-height: 580px;
  // background-image: url("./../assets/banner.jpg");
}

nav {
  .navigation {
    align-items: center;
    li {
      cursor: pointer;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      a {
        text-decoration: none;
        color: #333132;
        font-size: 1.18em;
        font-weight: 400;
        padding: 0.8em 1.5em;
      }
      a:hover {
        color: #001acb;
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  max-height: 620px;
  height: 540px;
  .banner {
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .header-text {
    width: 100%;
    position: absolute;
    z-index: 10;
    // top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);

    .text-wrapper {
      max-width: 80%;

      .header-text_highlight {
        font-weight: 500;
      }

      .header-text-sub {
        max-width: 750px;
        font-weight: 600;
        line-height: 1.6em;
        margin-top: 40px;
        font-size: 1.2em;
      }
    }
  }
}

.services-nav {
  position: absolute;
  top: -45px;
  // margin-top: -170px;
  // padding: 10px 30px;
  box-shadow: 0 0 70px rgb(0 0 0 / 16%);
  width: 100%;
  .service-nav {
    display: flex;
    flex: 0 0 15%;
    max-width: 15%;
    padding: 0.5rem;
    font-size: 0.9125rem;
    font-weight: 600;
    color: #989898;
    cursor: pointer;
    text-transform: capitalize;
  }
  .service-nav:hover {
    background-color: #ffdc1c;
  }
}

main {
  .ml {
    position: relative;
  }
}

main {
  background-color: #f4f4f4;

  .service-container {
    padding: 130px 0;

    // .g-service{

    // }

    // .service-gridBox {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   grid-template-areas: "s-photo s-info";
    .service-flexBox {
      display: flex;
      flex-direction: row;
    }
    .s-photo {
      display: flex;
      grid-area: s-photo;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      img {
        min-height: 200px;
        max-width: 50%;
        height: 100%;
        margin: 0 auto;
      }
    }
    .s-info {
      grid-area: s-info;
    }
    .service-title {
      font-size: 2.125rem;
      font-weight: 600;
      color: #333132;
      margin-bottom: 30px;
    }
    .service-desc1 {
      font-size: 1rem;
      line-height: 1.7;
      color: #333132;
      font-weight: 400;
    }
    .service-icon {
      max-width: 65px;
      height: 65px;
    }
    .card-text {
      margin: 40px 0 50px;
      background-color: #e9ebff;
      padding: 25px;
      font-weight: 400;
      color: #7c7c7c;
      line-height: 1.6;
    }
    F .service-flexBox-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
    // .g-reverse {
    //   grid-template-areas: "s-info s-photo";
    // }
  }
}

.letstalk {
  color: white;
  margin-top: -100px;
  min-height: 280px;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: transparent
    linear-gradient(59deg, #05f, #05f 20%, #001acb 70%, #001acb 97%, #001acb) 0
    0 no-repeat padding-box;

  .collab-container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }
  .letstalk-title {
    font-size: 2.125rem;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
  }
}


.services-nav,.service-nav{
  flex-wrap: wrap;
}

.nav-bar{
  position: relative;
  .small-Nav{
    padding: 15px;
    background-color:#ffab00;
    position: absolute;
    width: 380px;
    height: 100vh;
    top:-60px;
    right: 0;
    z-index: 999;
    .topCross{
      justify-content: flex-end;
      cursor: pointer;

      svg{
        width: 42px;
        height:42px;
      }
    }
    li{
      list-style-type: none;
      padding-top: 1.2em;
      margin-top: 10px;
      a{
        text-decoration: none;
        color: black;
      }
      a:hover{
        color: #001acb;
      }
    }

  }
}